input {
	border: none;
	border-radius: 4px;
	padding: 10px;
	font-size: 1em;
	outline: none;
	margin: 0 10px;
}

#new-list {
	width: 100px;
	background-color: #6B46A5;
}

#new-list::placeholder {
	color: #FFF;
}

#new-list:focus {
	background-color: #FFF;
	color: #000;
}

#search {
	width: 400px;
}

.list-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.card-wrapper {
	height: 200px;
	width: 200px;
	box-sizing: border-box;
	background-color: #fff;
}