input {
	border: none;
	border-radius: 4px;
	padding: 10px;
	font-size: 1em;
	outline: none;
	margin: 0 10px;
}

#new-list {
	width: 100px;
	background-color: #6B46A5;
}

#new-list::placeholder {
	color: #FFF;
}

#new-list:focus {
	background-color: #FFF;
	color: #000;
}

#search {
	width: 400px;
}

.nav-wrapper {
	margin: 10px 0;
}

#list-wrapper {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.card-wrapper {
	/*height: 200px;*/
	width: 200px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
	margin: 10px;
}

.card-actions {
	display: flex;
	justify-content: flex-end;
}

.card-action-icon {
	height: 20px;
	width: 20px;
}

#card-title {
	margin: 10px 0;
	font-size: 1.2em;
}

.card-action-icon {
	margin: 0;
}

#card-description {
	margin: 0;
}